{% extends "layout.html" %}

{% block title %}
  History
{% endblock %}

{% block main %}
  <table class="table">

  </table>
  
  <div class="container-sm px-4 mt-4">
    <div class="col-xl-10 offset-lg-1 shadow">
      <div class="card mb-3 shadow">
        <div class="card-header">History</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="row">#</th>
                <th scope="col">Category</th>
                <th scope="col">Amount Spent</th>
                <th scope="col">Date</th>
                <th scope="col">Note</th>
              </tr>
            </thead>
            <tbody>
              <form action="/history" method="POST">
              {% for item in history %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{item.category|e}}</td>
                    <td>{{item.amount|e}}</td>
                    <td>{{item.year|e}}-{{item.month|e}}-{{item.day|e}}</td>
                    <td>{{item.description|e}}</td>
                    <td>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#refid{{item.id|e}}">Remove</button>
                      <!-- Modal -->
                      <div class="modal fade" id="refid{{item.id|e}}" tabindex="-1" aria-labelledby="#refid{{item.id|e}}Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="#refid{{item.id|e}}Label">Delete Entry</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">You are about to delete entry <span class="fw-bolder">(#{{loop.index}})</span></div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-outline-danger" name="remove_button" value="{{item.id|e}}">Yes, Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                
              </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>






{% endblock %}
