{% extends "layout.html" %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  <div class="container-sm px-4 mt-4">
    <div class="row">
      <div class="col-xl-3">
        <!-- Add Total card-->
        <div class="card mb-4">
          <div class="card-header">Expenses</div>
          <div class="card-body">
            <form action="/personal" method="post">
              <!-- Form Group (Total Expenses Name)-->
              <div class="mb-3">
                <h1>{{total}}</h1>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-9">
        <!-- List Category card-->
        <div class="card mb-3">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <form action="/personal" method="post">
              <table class="table">
                <tbody>

                  {% for line in sorted_cat %}
                  <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{line}}</td>
                  <td>Edit</td>
                  <td>Remove</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
