{% extends "layout.html" %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  <div class="container-sm px-4 mt-4">
    <div class="row">
      <div class="col-xl-3">
        <!-- Add Date card-->
        <div class="card mb-5 shadow">
          <div class="card-header">Date</div>
          <div class="card-body">
            <!-- Form Group (Date)-->
            <div class="mb-3">
              <h3>{{today}}</h3>
            </div>
          </div>
        </div>

        <!-- Add Total card-->
        <div class="card mb-5 shadow">
          <div class="card-header">Monthly Expense</div>
          <div class="card-body">
            <!-- Form Group (Total)-->
            <div class="mb-3">
              <h1>{{total}}</h1>
            </div>
          </div>
        </div>


        <!-- Add pie graph card-->
        <div class="card mb-5 shadow">
          <div class="card-header">Monthly Breakdown</div>
          <div class="card-body">
            <!-- Form Group (Pie graph)-->
            <div class="mb-3">
              <div class="ratio ratio-1x1">
                {{fig2_plot|safe}}
              </div>
            </div>
          </div>
        </div>


      </div>

      {% if total == 0 %}
      <!--in case history is empty or beginning of month-->
      <div class="col-xl-9">
        <!-- List empty charts card-->
        <div class="card mb-3 shadow">
          <div class="card-header">Monthly Graph</div>
          <div class="card-body">
            <!-- Add a place holder for the beginning of the month -->
            <p>No data to display</p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="col-xl-9">
        <!-- List charts card-->
        <div class="card mb-3 shadow">
          <div class="card-header">Monthly Graph</div>
          <div class="card-body">
            <div class="ratio ratio-4x3">
              {{fig1_plot|safe}}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
