{% extends "layout.html" %}

{% block title %}
  Index
{% endblock %}

{% block main %}
  <div class="container-sm px-4 mt-4">
    <div class="row">
      <div class="col-xl-3">
        <!-- Add Date card-->
        <div class="card mb-3 shadow">
          <div class="card-header">Date</div>
          <div class="card-body">
            <!-- Form Group (Expenses Summary)-->
            <div class="mb-3">
              <h2>{{today}}</h2>
            </div>
          </div>
        </div>

        <!-- Add Total card-->
        <div class="card mb-3 shadow">
          <div class="card-header">Expenses</div>
          <div class="card-body">
            <!-- Form Group (Total Expenses Name)-->
            <div class="mb-3">
              <h1>{{total}}</h1>
            </div>
          </div>
        </div>
      </div>

      {% if total == 0 %}
      <!--in case history is empty or beginning of month-->
      <div class="col-xl-9">
        <!-- List empty charts card-->
        <div class="card mb-3 shadow">
          <div class="card-header">Charts</div>
          <div class="card-body">
            <!-- Add a place holder for the beginning of the month -->
            <p>No data</p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="col-xl-9">
        <!-- List charts card-->
        <div class="card mb-3 shadow">
          <div class="card-header">Charts</div>
          <div class="card-body">
            <!-- Plot selector -->
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <button class="nav-link active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Bar</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Pie</button>
              </div>
            </nav>
            <!-- Plot -->
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="ratio ratio-16x9">
                  <object data="/fig1"></object>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="ratio ratio-16x9">
                  <object data="/fig2"></object>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
