{% extends "layout.html" %}

{% block title %}
  Personal
{% endblock %}

{% block main %}
  <div class="container-sm px-4 mt-4">
    <div class="row">
      <div class="col-xl-3">
        <!-- Add Category card-->
        <div class="card mb-4">
          <div class="card-header">Add Category</div>
          <div class="card-body">
            <form action="/personal" method="post">
              <!-- Form Group (Category Name)-->
              <div class="mb-3">
                <label class="small mb-1" for="category">Category Name</label>
                <input class="form-control" id="category" name="category" type="text" placeholder="New Category" required>
              </div>
              <button class="btn btn-primary" type="submit">Add</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-9">
        <!-- List Category card-->
        <div class="card mb-3">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <form action="/personal" method="post">
              <table class="table">
                <tbody>

                  {% for line in sorted_cat %}
                  <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{line}}</td>
                  <td>Edit</td>
                  <td>Remove</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}