:root {
  /* custom global colors */
  --grey: #403f33;
  --orange: #fab334;
  --offwhite: #e6dac9;
}

body {
  /* body color */
  background-color: var(--offwhite);
}
body.tabs {
  /* body image */
  background-image: url('halloween.png'); /* found on https://pixabay.com/vectors/halloween-seamless-pattern-7472382/ */
  text-align: center
}
header {
  /* fixes the nav bar in place */
  position: fixed;
  width: 100%
}
.nav-tabs {
  /* nav bar colors overwrite */
  border-bottom: 1px solid var(--grey);
  background-color: var(--grey);
}
.nav-link {
  /* button txt color overwrite */
  color: var(--orange);
}
.nav-link:hover {
  /* button hover txt color overwrite */
  color: var(--orange);
}
.nav-tabs .nav-link {
  /* butten border radius overwrite */
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.nav-tabs .nav-link:hover {
  /* butten border color hover overwrite */
  border-color: var(--offwhite);
}
.nav-tabs .nav-link.active {
  /* active button colors overwrite */
  color: var(--grey);
  background-color: var(--offwhite);
  border-color: var(--offwhite);
}

.obj {
  /* tab window size */
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
[title="Lorem Ipsum"] p {
  /* justify paragraph tag */
  text-align: justify;
  text-justify: inter-word;
}
#div {
  background-color: var(--offwhite);
  position: absolute;
  min-height: 100vh;
  width: 80vw;
  right:10vw;
  padding: 20px;
}
img {
  /* image size */
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid var(--offwhite);
}

.float {
  /* video floating div */
  background-color: var(--offwhite);
  position: fixed;
  bottom: 45px;
  right: 5px;
  height: 25vh;
  width: calc(25vh / .56);
  border: 2px solid var(--grey);
}
.float iframe {
  /* video size and location */
  width: 100%;
  height: 100%;
}
div.container {
  position: relative;
  background-color: var(--offwhite);
  border: 2px solid var(--offwhite);
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}
div.container iframe {
  /* video */
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
